$col-dark-desaturated-blue: hsl(238, 29%, 16%);
$col-dark-grayish-blue: hsl(240, 6%, 50%);
$col-light-grayish-blue: hsl(240, 5%, 91%);
$col-soft-red: hsl(14, 88%, 65%);
$col-soft-blue: hsl(240, 73%, 65%);
$col-soft-violet: hsl(273, 75%, 66%);

$font-primary: 'Kumbh Sans', sans-serif;